/*********************** 
MAIN 
************************/

.dashboard--body__main {
    display: flex;
}
.dashboard--body {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.dashboard--body__row-2 {
    display: flex;
    margin-bottom: 30px;
}
.dashboard--body__row-1 {
    display: flex;
    margin-bottom: 30px;
}

/*********************** 
PAGE HEADER 
************************/
.page-header {
    display: flex;
    align-items: center;
    background: white;
    height: 50px;
    width: 100%;
    padding: 0 15px;
    box-shadow: 0 1px 3px 0 rgba(30, 30, 30, 0.1), 0 2px 19px 0 rgba(0, 0, 0, 0.19);
}
.page-header--name {
    text-transform: uppercase;
    color: #374551;
    font-size: 12px;
    padding: 0 10px;
}
.page-header--svg {
    height: 24px;
}

/***********************
DATE TIME
************************/
.date-time {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(30, 30, 30, 0.1), 0 2px 19px 0 rgba(0, 0, 0, 0.19);
    padding: 25px 0 0 0;
    width: 33.33333%;
}
.date-time--header {
    color: #374551;
    padding: 0 0 10px 25px;
    font-size: 12px;
}
/* TIME */
.time {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #F5F6F7;
    border-bottom: 2px solid #F5F6F7;
    color: #374551;
    padding: 10px 0px;
    margin: 10px 25px 10px 12px;
    align-items: flex-start;
}
.time--time {
    font-size: 105px;
    font-weight: 200;
}
.time--ampm {
    padding-left: 12px;
}

/* DATE */
.date {
    display: flex;
    flex-direction: column;
    color: #374551;
    padding: 10px 25px 25px 25px;
}
.date--day {
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: 200;
}
.date--date {
    font-weight: 200;
    font-size: 12px;
}

/*********************** 
CALENDAR
************************/
.calendar-btn {
    background: #F9F9FA;
    padding: 25px 25px;
    margin-top: auto;
}
.calendar-btn--btn {
    background-color: #E54D71;
    width: 100px;
    border: none;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    padding: 7px 8px;
    cursor: pointer;
}

/*********************** 
ANNOUNCEMENTS
************************/
.announcements {
    background: white;
    box-shadow: 0 1px 3px 0 rgba(30, 30, 30, 0.1), 0 2px 19px 0 rgba(0, 0, 0, 0.19);
    width: 66.6666%;
    margin-right: 30px;
}
.announcements--header {
    display: flex;
    align-items: center;
    padding: 15px;
}
.announcements--header-title {
    text-transform: uppercase;
    color: #374551;
    font-size: 12px;
    padding: 0 10px;
}
.announcements--header-svg {
    height: 30px;
}
.add-announcement--svg {
    height: 20px;
    cursor: pointer;
}

/*********************** 
QUICK LINKS
************************/
.links-container {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(30, 30, 30, 0.1), 0 2px 19px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}
.links-container--header {
    text-transform: uppercase;
    color: #374551;
    font-size: 12px;
    padding: 15px;
    border-bottom: 2px solid #F5F6F7;
}
.links {
    display: flex;
    padding: 60px 15px;
}
.link {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    cursor: pointer;
}
.link--logo {
    height: 60px;
    padding-bottom: 10px;
}
.link--label {
    font-size: 12px;
    color: #374551;
    font-weight: 200;
}
