.sidebar {
    background: #283642;
    width: 220px;
    height: 100vh;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1;
}
.nav-item {
    display: flex;
    padding: 30px 20px;
    align-items: center;
    transition: background-color .2s ease-in-out;
}
.nav-item-active {
    background-color: #4996BF;
}
.nav-item-active:after {
    content: ' ';
    position: absolute;
    right: 0;
    border-top: 15px solid transparent;
	border-right: 15px solid #E7E8EC;
	border-bottom: 15px solid transparent;
}
.nav-item--name {
    color: white;
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 14px
}
.nav-item--svg {
    height: 24px;
}
.nav-item:hover {
    background: #4996BF;
}